@model MvcStok.Models.Entity.TBLSATISLAR
@using MvcStok.Models.Entity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Sell something
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Selling screen</h2>
            </div>
            @*form method ve action koymassan buton çalışmaz yani veri tabanına kaydetmez*@
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Product name
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })

                    <br />
                    <label>
                        Customer name and surname
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })

                    <br />
                    <label>
                        How many
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })

                    <br />
                    <label>
                        Price
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })

                    <br />
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

