
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>buraya bülten koycam</h2>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: orchid;
        color: white;
        text-align: center;
    }
</style>

<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <a href="https://www.hitwebcounter.com" target="_blank">
                <img src="https://hitwebcounter.com/counter/counter.php?page=7286593&style=0024&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="PHP Hits Count" border="0">
            </a>
        </div>
    </div>
</div>

