
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    test
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Help page</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        Help
                    </label>
                    <h1>I am going to complete here later</h1>

                </div>
            </form>
        </div>
    </div>
</div>

